@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    --green : #00d435;
    --red : #F70828;
    --blue : #001A45;
    --light-grey : #B3B3B3;
    --dark-grey : #333333;
    --white: #FFFFFF;
    --fs-sm : 14px;
    --fs-lg : 30px;
    --fs-xl : 45px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


main{
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-height: 100%;
}
.auth-container{
    --_width : 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: .2rem;
    width: min(400px,100%);
    padding: 3rem 1rem;
    gap :1rem;
}
.image-container{
    position: relative;
    height: 180px;
}
.auth-container p {
    font-size: var(--fs-xl);
    text-align: center;
}
.app-input{
    padding: .5rem;
    outline: none;
    width: 100%;
    border: none;

}
.btn{
    --_bg :black;
    padding: .5rem 1rem;
    color: var(--white);
    background: var(--_bg);
    border: 1px solid var(--_bg);
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
}
.btn:hover{
    background: transparent;
    color: var(--_bg);
}

.btn-large{
    width: 100%;
}
.input-container{
    display: flex;
    align-items: center;
    border: 1px solid var(--light-grey);
    border-radius: .2rem;
    margin-block: .2rem;
    width: 100%;
    overflow: hidden;
    padding: .3rem 1rem;
    background-color: var(--white);
}
.icon{
    font-size: 20px;
}
.link{
    color: var(--light-grey);
    font-size: .8rem;
    text-align: center;
    margin-top: 1rem;
}
.form-inputs{
    display: flex;
    flex-direction: column;
}
.auth-btn{
    margin-top: 1rem;
}
.profile-picture-container{
    position: relative;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--_width);
    border: 10px solid white;
    margin: 0 auto;
}
.profile-picture-container::before{
    content: attr(data-count);
    position: absolute;
    bottom:0;
    right: 0;
    z-index: 10;
    background: var(--red);
    width: 20px;
    font-size: 16px;
    color: var(--white);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    aspect-ratio: 1;
    line-height: .1;
    border-radius: 100%;
    border: 3px solid white;
}
.profile-picture-container .overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-xl);
    color: white;
    cursor: pointer;
    z-index: 9;
    transition: opacity 300ms;
    opacity: 0;
}
.profile-picture-container .overlay:hover{
    opacity: 1;
}
.profile-picture{
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
.info{
    font-size: var(--fs-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    color: var(--dark-grey);
}
.user-name{
    text-transform: capitalize;
}
.user-email{
    font-size: var(--fs-sm);
    margin-top: .3rem;
    color: #003399;
}
.profile-container{
    position: sticky;
    top: 1rem;
}
.welcome-text-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}
#welcome-text{
    font-weight: bold;
    font-size: var(--fs-lg);
    font-family: 'Handlee', cursive;

}
#slider{
    inset: 0;
    background: white;
    position: absolute;
    z-index: 10;
    transition: opacity 200ms;
    opacity: 0;
}
.skip{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%,50%);
}
.profile-page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
}
.navigation{
    width:100% ;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--blue);
    padding: 1rem ;
    gap: 1rem;

}
.user-images-container .btn{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
            text-transform: uppercase;
           
}
.user-images-container .btn ion-icon{
                 font-size: 22px;
}
.user-images-container {
    width: 100%;
}
.icons{
    width: 100%;
    display: flex;
    align-items: center;
    gap : .3rem;
    padding: .5rem;
   
}
.icon-btn{
    color: var(--clr);
    padding: .2rem;
    border-radius: .1rem;
    font-size: var(--fs-lg);
    transition: all 300ms;
}
.icon-btn:hover{
     background-color: var(--clr) ;
     color: var(--white);
}
.icon-btn:last-child{
    align-self: flex-end;
}
.grow{
    width: 100%;
}
.image{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-grey);
}
.image img{
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
}
.images-container{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 1rem;
}
.search-icon:hover{
    transition: opacity 300ms;
    opacity: .7;
}
.scroll-to-top{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 12;
    transform: translate(-50%,-50%);
    font-size: var(--fs-lg);

}
.scroll-to-top:hover{
    background: var(--white);
}

#profile-save-btn{
    position: absolute;
    top: 100%;
    transform: translateY(25%);
    display: none;
}
#profile-save-btn:hover{
    background: white;
}
.error-message{
    color: var(--red);
    text-align: center;
    width: 100%;
}
.unactive{
    pointer-events: none;
    opacity: .6;
}
#image_upload_input{
    display : none;
}
.navbar{
    width: 100%;
    padding: .7rem .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom : 1px solid #00000020;

}
.app-logo{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}
.app-logo span{
    color : var(--dark-grey);
    font-size:  25px; 
    text-transform: uppercase;

}
.app-logo img{
    width: 3rem;
}
header{
    padding-inline: 1rem;
    background : var(--white);

}
.links a{
      text-decoration: none;
      color: var(--dark-grey);
      padding-inline: .5rem;
}
.links a:hover{
    opacity: .7;
}
#empty-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.upload-file-form{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.information{
    color: rgba(0 0 0 / 60%);
    text-align: center;
}
.modal{
    position: fixed;
    inset: 0;
    z-index: 1000;
    background: rgba(0, 0, 0 ,0.8);
    color: white;
    display: none;
    place-content: center;
    padding: 1rem;
}
.modal-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-1rem,1rem);
    user-select: none;
    cursor: pointer;
}
.delete-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: white;
    color: var(--dark-grey);
    border-radius: 1rem;
    padding: 1rem;
    width: min( 98vw, 500px);
}
.delete-section .btns{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row-reverse;
}
*::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: black;
}
   


@media (max-width : 800px){
    .profile-page{
        flex-direction: column;
        align-items: center;
    }
    .profile-container{
        width: 100%;
        padding: 1rem;
        --_width : 20%;
        gap: 2rem;
        position: static;
    }
  
}
.home.user-images-container{
    padding-inline: 1rem;
}